# Dependency folders (sangat wajib di-ignore)
node_modules/
jspm_packages/
package-lock.json

# Folder unggahan user (agar data testing tidak masuk ke repo)
uploads/*
!uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS metadata
.DS_Store
Thumbs.db

# Environment variables (jika nanti kamu pakai file .env)
.env
.env.local

data/*